
<!DOCTYPE>
<html>
 <head>
 <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/contact.css' />
<!--bootstrapandfontawsome-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  </head>
<body>
<!-- Start Landing Page -->

<div class="homepage">
  <div class="container">
    <div class="info">
<p>Let's Connect </p>
<h1>Welcome to my portfolio </h1>

<h2>&#x2774;
  <br/>
  "name":"Tanya",
  <br/>
  "email: &#x2774;
  <br/>
  "Value": 
  "tanyapp@gmail.com",
<br/>"valid": true
<br/>
&#x2775;,
</h2>
</div>
<div>

</div>
<!--contact-->
<div class="contact">
    <form id="contact-form" name="myForm" class="form" action="#" method="POST" role="form">
          <div class="form-group">
          <label class="form-label"  for="name"></label>
          <input type="text" class="form-control" id="name" name="name" placeholder="Your name" >
</div>
        <div class="form-group">
         <label class="form-label"  for="email"></label>
        <input type="email" class="form-control" id="email" name="email" placeholder="Your Email">
        </div>
       <div class="form-group">
        <label class="form-label"  for="message"></label>
        <textarea rows="6" cols="50" name="message" class="form-control"  placeholder="Your message" >
        </textarea>                                 
        </div>
            <div class="text-center">
              <button type="submit" class="btn btn-mod btn-border ">Send Message</button>
            </div>
              </form><!-- End form -->
    </div>
    <div class="clearfix"></div> <!--w3schools.com/howto/howto_css_clearfix.asp-->
  </div>
</div>
<!-- End into  Page -->

<div class="flex-container">
  <div class="flex-item-left ">
    <div class="content">
<i class="fa-solid fa-computer-mouse" style="font-size:80px;color:rgb(22, 18, 24);"></i>
<br>
<p><a href="/projects">Projects</a></p>

 </div>
  </div>
  <div class="flex-item-right">
<div class="content">
<i class="fa-solid fa-house "style="font-size:80px;"></i>
<br>
<p><a href="/">Home</a></p>
 </div>
  </div>
    <div class="flex-item-center">
  <div class="content">
<i class="fa-solid fa-heart" style="font-size:80px; color:rgb(117, 117, 117);"></i>
<br>
<p><a href="/about">About Me</a></p>
     
 </div>
    </div>

</div>


</body>
<script src="/javascripts/home.js"></script>


</html>