@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&family=Poppins&family=Roboto+Mono:wght@200&display=swap');* {
  box-sizing: border-box;
}
body {color: aliceblue;
  font-family: 'Comfortaa', cursive;
  font-family: 'Poppins', sans-serif;}

.container {
  width: 1200px;
  padding-right: 15px;
  padding-left: 15px;
  margin: auto;
}
.info h2{
  font-size: 40px;
  color: #c4c3ca;
  font-family: 'Roboto Mono', monospace;  }

.info{
margin-left: -10%;}

.info p{
  font-size: 100px;
  line-height: 80px;
  color: #c4c3ca;
  font-weight: 900;
  cursor: pointer;
  opacity: 0.35;
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
  
}
.info:hover p{
  opacity: 0.15;
}


.info h1{
  color: #c4c3ca;
}

h2{
  font-family: 'Comfortaa', cursive;

}

.content p{
color: rgb(175, 175, 175);

font-family: 'Roboto Mono', monospace;

}
.content a{
  color: rgb(175, 175, 175);
}
.content a:hover{
  color:aliceblue;
text-decoration: none;}

.homepage {
  position: relative;
  background: linear-gradient(90deg, rgba(31,32,41,1) 22%, rgba(2,0,36,1) 63%, rgba(0,0,0,1) 99%);
  border-radius: 25px;
  margin: .5%;

}


.flex-container{
  text-align: center;
}
/*image - laptop*/
.homepage .image {
  width: 50%;
  float: right;
}
.homepage .image img {
  max-width: 100%;
  margin-left: 30%;
  margin-top: -60%;
  opacity: .8;

}
.homepage .image img:hover {
opacity: .8;
cursor: pointer;
;
}
.clearfix {
clear: both;
}

/* my flex */
.flex-container {
  display: flex;
  flex-direction: row;
  font-size: 30px;
  text-align: center;
}

.flex-item-left {
  background-color: #5a5d75;
  padding: 10px;
  flex: 25%;
  border-radius: 25px;
  margin: .5%;

}
.content{
margin-top:30%
}
.flex-item-right {
background: rgb(130,132,145);
background: radial-gradient(circle, rgb(101, 102, 105) 22%, rgba(93,92,115,1) 63%, rgba(74,78,122,1) 99%);  padding: 10px;
  flex: 25%;
  height: 500px;
  border-radius: 25px;
  margin: .5%;

}
.flex-item-center {
background: rgb(49,51,69);
background: radial-gradient(circle, rgba(49,51,69,1) 22%, rgba(49,48,69,1) 63%, rgba(30,33,60,1) 99%);
  padding: 10px;
  flex: 25%;
  border-radius: 25px;
  margin: .5%;


}
.flex-item-left:hover{
  transform: scale(1.1);
}
.flex-item-right:hover{
transform: scale(1.1);}
.flex-item-center:hover{
  transform: scale(1.1);}

/* Responsive layout - makes a one column-layout instead of two-column layout */
@media (max-width: 800px) {
  .flex-container {
    flex-direction: column;
  }
}

/*icons*/
#p2{
  margin-left: 26%;
}
#p1{
  margin-left: 20%;
}
.icon{
  margin-left: 20%;
}




 
